:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-items: start;
  grid-gap: 6rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
}

.feature__icon {
  fill: var(--color-primary);
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1 / span 2;
  transform: translateY(-1rem);
}

.feature__text {
  font-size: 1.7rem;
}
