:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;

  /*  */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
  background-color: var(--color-grey-dark-1);
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(
      rgba(16, 29, 44, 0.93),
      rgba(16, 29, 44, 0.93)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;
}

.header__logo {
  height: 3rem;
  justify-self: center;
}

.header__btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
  align-items: center;

  font-size: 1.6rem;
  color: var(--color-grey-light-2);
}

.header__seenon-text::after,
.header__seenon-text::before {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.header__seenon-logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  justify-items: center;
  align-items: center;
}

.header__seenon-logos img {
  min-height: 2.5rem;
  max-width: 100%;
  filter: brightness(70%);
}
