:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

.realtors {
  background-color: var(--color-secondary);
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;
}
.realtors__list {
  display: grid;
  grid-template-columns: min-content max-content;
  column-gap: 2rem;
  row-gap: 5vh;
  align-items: center;
}
.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}
.realtors__sold {
  text-transform: uppercase;
  color: var(--color-grey-light-2);
  margin-top: -3px;
}
