:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}
.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: var(--font-display);
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-2--light {
  color: var(--color-grey-light-1);
}
.heading-2--dark {
  color: var(--color-grey-dark-1);
}

.heading-3 {
  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}

.heading-4--light {
  color: var(--color-grey-light-1);
}
.heading-4--dark {
  color: var(--color-grey-dark-1);
}

.btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: var(--font-display);
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
